#bg1, #bg2 { 
    transition: background-image 1.5s ease-in-out !important; 
}

/* Копируем отступы из твоего рабочего CSS для консистентности меню */
.inline-drawer-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
